* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bg-home-container {
  padding: 26px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  width: 403px;
  height: 350px;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
